@model List<Velo.Models.PdfFile>

<div class="table-responsive px-2" style="height: 90vh;">
    <table class="table table-hover table-borderless m-0">
        <thead class="sticky-top bg-white">
            <tr>
                <th scope="col" class="py-3">#</th>
                <th scope="col" class="py-3">File Name</th>
                <th scope="col" class="py-3">Page Count</th>
                <th scope="col" class="py-3">File Size</th>
                <th scope="col" class="py-3">Upload Date</th>
                <th scope="col" class="py-3 text-center">Actions</th>
            </tr>
        </thead>
        
        <tbody>
            @if (Model.Any())
            {
                @foreach (var pdf in Model)
                {
                    <tr>
                        <th scope="row">
                            @pdf.Id
                        </th>
                        <td>
                            @pdf.FileName
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            @(pdf.FileSize.ToString("F2")) Mb
                        </td>
                        <td>
                            @pdf.UploadDate
                        </td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-secondary me-1" onclick="previewPdf(@pdf.Id)">
                                <i class="fa-solid fa-eye"></i>
                            </button>

                            <button class="btn btn-sm btn-secondary" onclick="downloadPdf(@pdf.Id)">
                                <i class="fa-solid fa-download"></i>
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>